# Operators

In [27]:
# Comparision Operators

a = 5
b = 2

a == b # Is a equal to b
a != b # Is a not equal to b
a > b # Is a greater than b
a < b # Is a less than b
a >= b # Is a greater than or equal b

In [3]:
# Logical/Membership Operators

a = 5
b = 2
c = 'a'
d = 'abcd'

a > b and b == 1 # & can replace "and"
a > b or b == 2 # | can replace "or"
not(a > b) # Returns the opposite
a is b
a is not b
c in d
c not in d

True

In [31]:
# Arithmetic Operators

a = 5
b = 2

a + b # Addition
a - b # Subtraction
a * b # Multiplication
a / b # Division
a % b # Modulus (returns remainder of division)
a ** b # Exponentiation
a // b # Floor Division

2

In [3]:
# Assignment Operators

a = 5

a += 3 # Same as a = a + 3

a

8

In [1]:
# Bitwise Operators

In [3]:
# Splitting lines

message\
=\
'This \
back slash \
acts \
like \
enter'
print(\
message)

This back slash acts like enter

# Loops

In [4]:
# For Loop

listy = []

for x in range(1,11):
    listy.append(x)

listy

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
# For Loop - List Comprehension

[x for x in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
# While Loop

listy = []
x = 1

while x < 11:
  listy.append(x)
  x = x + 1

listy

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# If Statements

In [7]:
# Long Hand If Statement

a = 200
b = 33

if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [1]:
# Short Hand If Statements

a = 200
b = 33

if a > b: print("a is greater than b")
    
print("a is greater than b") if a > b else print("a is equal to b") if a == b else print("Other")

SyntaxError: invalid syntax (<ipython-input-1-51923dca5dc5>, line 6)

# Strings

In [12]:
# Slicing

stringy = "Hello, World!"

stringy[0:5:2] # Start:Stop:Step

'hcoolocoolp'

In [34]:
# Slicing via Loop

stringy = "Hello, World!"

[stringy[x] for x in [1,5,7]]

['e', ',', 'W']

In [5]:
# Format

'{a}...{b}'.format(a='Hello',b='World!')

'Hello...World!'

In [1]:
# Format with Dictionary

dicty = dict(brand="Ford",model="Mustang",year=1964)

"The brand is {brand}, the model is {model}, and the year is {year}".format(**dicty)

'The brand is Ford, the model is Mustang, and the year is 1964'

In [3]:
# Format shortcut

stringy1 = "Hello"
stringy2 = "World!"

f'{stringy1}...{stringy2}'

'Hello...World!'

In [63]:
# Split

stringy = "Hello, World!"

a = stringy.split(',')

['Hello', 'World!']

In [57]:
# Replace

stringy = "Hello, World!"

stringy.replace('Hello','Goodbye')

'Goodbye, World!'

In [30]:
# Adding Strings

first_name = "Matt"
last_name = "Brown"

first_name + ' ' + last_name
'{a} {b}'.format(a=first_name,b=last_name)

'Matt Brown'

In [33]:
# Multiplying Strings

stringy = "Hello, World!"

stringy * 2

'Hello, World!Hello, World!'

In [28]:
# Upper, Lower, Title (Proper Casing)

stringy = "HeLLo, World!"

stringy.title()

'Hello, World!'

In [29]:
# Strip (removes from beginning or end)

stringy = " Hello, World! "

stringy.strip()

'Hello, World!'

In [6]:
# Len (count characters including space)

stringy = '123 4'

len(stringy)

5

In [13]:
# Change Upper/Lower/Proper Case

stringy = 'Matt BROWN'

upper = stringy.upper()
lower = stringy.lower()
proper = stringy.title()

upper

'MATT BROWN'

In [25]:
# Join

stringy = 'abcd'

'-'.join(stringy)

'a-b-c-d'

# Numbers

In [77]:
# Number Types

a = 1    # int
b = 2.8  # float (a number, positive or negative, containing one or more decimals.)
c = 35e3 # float, 35 * (10**3)
d = 1j   # complex

[type(x) for x in [a,b,c,d]]

[int, float, float, complex]

In [82]:
# Casting

a = int('123')
b = float(123)
c = str(123)

[a,b,c]

[123, 123.0, '123']

# Lists

In [31]:
# Slicing a list

listy = ['zero','one','two','three','four','five','six','seven','eight','nine','ten']

listy[1:10:2] # Start:Stop:Step

['one', 'three', 'five', 'seven', 'nine']

In [8]:
# Filter with List Comprehension

listy = [1,2,3,4]

[x for x in listy if x > 2]

[3, 4]

In [25]:
# Filter

listy = [1,2,3,4]

functiony = lambda number: number > 2

list(filter(functiony,listy))

[3, 4]

In [33]:
# Insert

listy = [0,1,2,3,4,5]

listy.insert(3,6) # Index, Value

listy

[0, 1, 2, 6, 3, 4, 5]

In [36]:
# Append

listy = [0,1,2,3,4,5]

listy.append(6)

listy

[0, 1, 2, 3, 4, 5, 6]

In [37]:
# Extend

listy = [1,2,3,4,5]

listy.extend([6,7,8])

listy

[1, 2, 3, 4, 5, 6, 7, 8]

In [4]:
# Update a list with Map()

listy = ['this ', 'is ', 'a ', 'list ', 'of ', 'words  ']

list(map(str.strip, listy))

In [37]:
# Remove Single Item

listy = [1,2,3,4,5,'apple']

listy.remove('apple')

listy

[1, 2, 3, 4, 5]

In [40]:
# Remove Multiple Items

listy = [1,2,3,4,5,'apple']

[x for x in listy if x not in [2,3,'apple']]

[1, 4, 5]

In [38]:
# Pop (remove single item by index)

listy = [1,2,3,4,5,'apple']

listy.pop(0)

listy

[2, 3, 4, 5, 'apple']

In [52]:
# Delete (remove multiple items by index start stop step)

listy = [1,2,3,4,5,'apple']

del listy[0:5:2] # Start:Stop:Step

listy

[2, 4, 'apple']

In [55]:
# Delete (remove multiple items by index list)

listy = [1,2,3,4,5,'apple']

indexes = [0,2,3]

for index in sorted(indexes, reverse=True):
    del listy[index]
    
listy

[2, 5, 'apple']

In [57]:
# Clear (deletes all values in list)

listy = [1,2,3,4,5,'apple']

listy.clear()

listy

[]

In [60]:
# Copy (lists change either if assigned so you must use copy to make new list independent)

# Notice how listy2 changes becuase I removed apple from listy1

listy1 = [1,2,3,4,5,'apple']

listy2 = listy1

listy1.remove('apple')

print(listy2)

# This doesn't happen if I use the .copy() method

listy1 = [1,2,3,4,5,'apple']

listy2 = listy1.copy()

listy1.remove('apple')

print(listy2)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 'apple']

In [69]:
# Sort

listy = [5,3,2,4,1]

listy.sort(reverse=True)

listy

[5, 4, 3, 2, 1]

In [83]:
# Set (returns unique values in list)

listy = [1,2,3,4,5,5,'blue','apple','apple']

listy = set(listy)

list(listy)

[1, 2, 3, 4, 5, 'blue', 'apple']

In [47]:
# Index (returns index of value)

listy = [1,2,3,4,5,'apple']

listy.index('apple')

5

In [90]:
# Zip

listy1 = ['a','b','c','d']
listy2 = [1,2,3,4]

list(zip(listy1,listy2))

[('a', 1), ('b', 2), ('c', 3), ('d', 4)]

In [101]:
# Enumerate (return list of tuples with (index,value))

listy = [1,2,3,4,5,'apple']

list(enumerate(listy))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 'apple')]

In [110]:
# Flatten List of Lists

listy = [[1, 2, 3], [4, 5, 6], [7], [8, 9]]

[item for sublist in listy for item in sublist]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [48]:
# Sum, Max, Min, Len

listy = [1,2,3,4,5]

sum(listy)
max(listy)
min(listy)
len(listy)

5

In [22]:
# Multiplying Lists

listy = [1,2,3,4]

listy * 2

[1, 2, 3, 4, 1, 2, 3, 4]

In [24]:
# Join

listy = ['a','b','c','d']

'-'.join(listy)

'a-b-c-d'

# Dictionaries

In [171]:
# Create Dictionary

dicty = {'a':[1,2,3],
         'b':[4,5,6],
         'c':'apple',
         'd':(7,8)}

dicty

{'a': [1, 2, 3], 'b': [4, 5, 6], 'c': 'apple', 'd': (7, 8)}

In [41]:
# Create Dictionary Using dict()

dicty = dict(brand="Ford", model="Mustang", year=1964)

dicty

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [197]:
# Create Dictionary From Two Lists

keys = ['a', 'b', 'c']
values = [1, 2, 3]

dict(zip(keys, values))

{'a': 1, 'b': 2, 'c': 3}

In [183]:
# Dictionaries - Create Dictionary Using fromkeys()

x = ['key1', 'key2', 'key3']
y = 1

dict.fromkeys(x, y)

{'key1': 1, 'key2': 1, 'key3': 1}

In [128]:
# Dictionaries - Slice Single Key

dicty = {'a':[1,2,3],
         'b':[4,5,6],
         'c':'apple',
         'd':(7,8)}

dicty.get('a')
dicty['a']

[1, 2, 3]

In [130]:
# Dictionaries - Slice Multiple Keys

dicty = {'a':[1,2,3],
         'b':[4,5,6],
         'c':'apple',
         'd':(7,8)}

[dicty[x] for x in ['a','b','c']]

[[1, 2, 3], [4, 5, 6], 'apple']

In [9]:
# Dictionaries - Get All Key Value Pairs

dicty = {'a':[1,2,3],
         'b':[4,5,6],
         'c':'apple',
         'd':(7,8)}

list(dicty.items())

[('a', [1, 2, 3]), ('b', [4, 5, 6]), ('c', 'apple'), ('d', (7, 8))]

In [136]:
# Dictionaries - Get All Keys

dicty = {'a':[1,2,3],
         'b':[4,5,6],
         'c':'apple',
         'd':(7,8)}

list(dicty.keys())

['a', 'b', 'c', 'd']

In [8]:
# Dictionaries - Get All Values

dicty = {'a':[1,2,3],
         'b':[4,5,6],
         'c':'apple',
         'd':(7,8)}

list(dicty.values())

[[1, 2, 3], [4, 5, 6], 'apple', (7, 8)]

In [169]:
# Dictionaries - Looping

dicty = {'a':[1,2,3],
         'b':[4,5,6],
         'c':'apple',
         'd':(7,8)}

[(key,value) for key,value in dicty.items()]

[('a', [1, 2, 3]), ('b', [4, 5, 6]), ('c', 'apple'), ('d', (7, 8))]

In [34]:
# Dictionaries - Unpack Values Into String

dicty = {'Name':'Matt',
         'Age':28}

"Hi my name is {Name} and my age is {Age}".format(**dicty)

'Hi my name is Matt and my age is 28'

In [175]:
# Dictionaries - Get value, if no value, add item

dicty = {'a':[1,2,3],
         'b':[4,5,6],
         'c':'apple',
         'd':(7,8)}

print(dicty.setdefault("c", [9,10,11])) # The key 'c' already exists so this prints 'apple'

dicty.setdefault("e", [9,10,11]) # The key 'e' does not already exist so it adds it to the dictionary

print(dicty)

apple
{'a': [1, 2, 3], 'b': [4, 5, 6], 'c': 'apple', 'd': (7, 8), 'e': [9, 10, 11]}

In [141]:
# Dictionaries - Add Items

dicty = {'a':[1,2,3],
         'b':[4,5,6],
         'c':'apple',
         'd':(7,8)}

dicty['e'] = [9,10,11]

dicty

{'a': [1, 2, 3], 'b': [4, 5, 6], 'c': 'apple', 'd': (7, 8), 'e': [9, 10, 11]}

In [157]:
# Dictionaries - Add Items Using Update

dicty = {'a':[1,2,3],
         'b':[4,5,6],
         'c':'apple',
         'd':(7,8)}

dicty.update({'e':[9,10,11]})

dicty

{'a': [1, 2, 3], 'b': [4, 5, 6], 'c': 'apple', 'd': (7, 8), 'e': [9, 10, 11]}

In [160]:
# Dictionaries - Merge Dictionaries

dicty1 = {'a':[1,2,3],
         'b':[4,5,6],
         'c':'apple',
         'd':(7,8)}

dicty2 = {'e':[9,10,11],
         'f':[12,13,14],
         'g':'orange',
         'h':(15,16)}

{**dicty1, **dicty2}

{'a': [1, 2, 3],
 'b': [4, 5, 6],
 'c': 'apple',
 'd': (7, 8),
 'e': [9, 10, 11],
 'f': [12, 13, 14],
 'g': 'orange',
 'h': (15, 16)}

In [151]:
# Dictionaries - Delete Specific Key Value Pair

dicty = {'a':[1,2,3],
         'b':[4,5,6],
         'c':'apple',
         'd':(7,8)}

dicty.pop('d')

dicty

{'a': [1, 2, 3], 'b': [4, 5, 6], 'c': 'apple'}

In [154]:
# Dictionaries - Delete Last Inserted Key Value Pair

dicty = {'a':[1,2,3],
         'b':[4,5,6],
         'c':'apple',
         'd':(7,8)}

dicty['e'] = [9,10,11]

dicty.popitem()

dicty

{'a': [1, 2, 3], 'b': [4, 5, 6], 'c': 'apple', 'd': (7, 8)}

In [39]:
# Dictionaries - Delete Entire Dictionary

dicty = {'a':[1,2,3],
         'b':[4,5,6],
         'c':'apple',
         'd':(7,8)}

del dicty

dicty

NameError: name 'dicty' is not defined

In [ ]:
# Determine number of key value pairs (len)

dicty = {'a':[1,2,3],
         'b':[4,5,6],
         'c':'apple',
         'd':(7,8)}

len(dicty)

# Tuples

In [259]:
# Create Tuple

tuple1 = (1,2,3,'a','b','c')

tuple2 = tuple([1,2,3,'a','b','c'])
          
tuple1

(1, 2, 3, 'a', 'b', 'c')

In [247]:
# Slicing

tupley = (1,2,3,'a','b','c')

tupley[0:6:2] # Start:Stop:Step

(1, 3, 'b')

In [246]:
# Filtering

tupley = (1,2,3,'a','b','c')

tuple([x for x in tupley if isinstance(x, str)]) # Filters for string values

('a', 'b', 'c')

In [257]:
# Return Index of Value

tupley = (1,2,3,'a','b','c')

tupley.index('a')

3

In [254]:
# Count Number of Times Value Appears

tupley = (1,2,3,'a','b','c','a','b','a')

tupley.count('a')

3

In [39]:
# Adding/Updating (Hint: Not possible with tuples)

tupley = (1,2,3,'a','b','c')

tupley[0] = 0

TypeError: 'tuple' object does not support item assignment

# Sets

In [264]:
# Creating a Set (no index but is changeable)

sety1 = {1,2,3,'a','b','c'}

sety2 = set([1,2,3,'a','b','c'])

sety1

{1, 2, 3, 'a', 'b', 'c'}

In [268]:
# Adding value to a Set (no index)

sety1 = {1,2,3,'a','b','c'}

sety1.add(5)

sety1

{1, 2, 3, 5, 'a', 'b', 'c'}

In [272]:
# Removing value from a Set (no index)

sety1 = {1,2,3,'a','b','c'}

sety1.remove('a')

sety1

{1, 2, 3, 'b', 'c'}

In [279]:
# Union (Inner Join, Gets Unique List of Common Values Between The Two)

sety1 = {1,2,3,'a','b','c'}
sety2 = {4,5,6,'d','e','f','a',1,3}

sety1.union(sety2)

{1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 'd', 'e', 'f'}

In [297]:
# Difference

sety1 = {1,2,3,'a','b','c'}
sety2 = {4,5,6,'d','e','f','a',1,3}

sety1.difference(sety2) # Returns unique values in sety1
sety1.symmetric_difference(sety2) # Returns unique values from both sets

{2, 4, 5, 6, 'b', 'c', 'd', 'e', 'f'}

In [58]:
# Intersection (Returns common values between two sets)

sety1 = {1,2,3,'a','b','c'}
sety2 = {4,5,6,'d','e','f','a',1,3}

sety1.intersection(sety2)

{1, 3, 'a'}

# Iterators

In [9]:
tuply = ("apple", "banana", "cherry")
iterator = iter(tuply)

print(next(iterator))
print(next(iterator))
print(next(iterator))

apple
banana
cherry

# Error Catching (Try...Except)

In [94]:
# Single Exception

try:
  print(x)
except:
  print("An exception occurred")

An exception occurred

In [ ]:
# Many Exceptions

# No error
a = 'hello'

try:
  print(a)
except:
  print("Something went wrong")
else:
  print("Nothing went wrong") 
finally:
  print("The 'try except' is finished")

# Error
del a

try:
  print(a)
except:
  print("Something went wrong")
else:
  print("Nothing went wrong")
finally:
  print("The 'try except' is finished")

# Taking Input

In [1]:
print('Enter your name:')
x = input()
print('Hello, ' + x)

Enter your name:
Matt
Hello, Matt

# Functions

In [121]:
# Define a Function (print)

def my_function(name):
  print("Hello, my name is {}".format(name))

my_function('Matt')

Hello, my name is Matt

In [122]:
# Return Value From Function

def my_function(a,b):
  return a + b

my_function(1,2)

3

In [120]:
# Set Default Value of a Function

def my_function(name='Matt'):
  print("Hello, my name is {}".format(name))

my_function()

Hello, my name is Matt

In [129]:
# Define What Function Does

def my_function(name):
  '''Prints hello, my name is (whatever name you put in).'''
  print("Hello, my name is {}".format(name))

help(my_function)

Help on function my_function in module __main__:

my_function(name)
    Prints hello, my name is (whatever name you put in).

In [6]:
# Assign Function To Variable To Create Object

def my_function(name):
  '''Prints hello, my name is (whatever name you put in).'''
  print("Hello, my name is {}".format(name))
    
a = my_function

a('Matt')

Hello, my name is Matt

In [7]:
# Nested Functions

def make_multiplier_of(n):
    def multiplier(x):
        return x * n
    return multiplier

make_multiplier_of(3)(5)

15

# Lambda

In [134]:
# Create single variable lambda function (Use lambda functions when an anonymous function is required for a short period of time.)

lamby = lambda a: a + 10

lamby(5)

15

In [136]:
# Create multi variable lambda function

lamby = lambda a,b: a + b

lamby(1,2)

3

In [140]:
# Lambda Inside Function (allows you to create a function from a function)

def my_function(n):
  return lambda a: a * n

my_doubler = my_function(2)
my_tripler = my_function(3)

my_doubler(11)
my_tripler(11)

33

# [Classes & Objects](https://campus.datacamp.com/courses/object-oriented-programming-in-python)

In [12]:
# Create a class (aka cookie cutter)

class Person():
    pass

Person()

In [15]:
# Add fixed attribute to class

class Person():
    
    species = 'Human' # fixed attribute (i.e. pre-assigned, still can be chaged)

Person().species

'Human'

In [16]:
# Add constructor (__init__) with instance attributes to class

class Person:
  
    # constructor
    def __init__(self,name,age):
        self.a = name # isntance attribute
        self.b = age
    
Person('Matt',25).a

'Matt'

In [1]:
# Create Object (aka cookie made from cookie cutter)

class Person:
    
    # fixed attribute (i.e. pre-assigned, still can be chaged)
    species = 'Human'

    # constructor
    def __init__(self,name,age):
        self.name = name # instance attribute
        self.age = age
    
matt = Person('Matt',25) # object

matt.name

'Matt'

In [2]:
# Create Method (functions within a class)

class Person:
  
  # Method
  def print_hello_world(self):
    print('Hello World')

Person().print_hello_world()

Hello World

In [3]:
# Create Method that references constructor

class Person:
  
  # Constructor
  def __init__(self, name, age):
    self.name = name #Instance attribute
    self.age = age
    
  def print_name_and_age(self):
    print(f'My name is {self.name} and my age is {self.age}')
    
Person('Matt',29).print_name_and_age()

My name is Matt and my age is 29

In [155]:
# Update attributes in an object

class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age
    
  def print_name_and_age(self):
    print('My name is {} and my age is {}'.format(self.name,self.age))

person_1_object = Person("John", 36)

person_1_object.name = 'Matt'

person_1_object.name

'Matt'

In [1]:
# Delete attribute in an object

class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age
    
  def print_name_and_age(self):
    print('My name is {} and my age is {}'.format(self.name,self.age))

person_1_object = Person("John", 36)

del person_1_object.name

person_1_object.name

AttributeError: 'Person' object has no attribute 'name'

In [3]:
# Use self to use the result of one method as an input to another

class Classy:
    def message(self):
        self.print_message("Hello World!")
    
    def print_message(self,message):
        print(message)
    

Classy().message()

Hello World!

In [5]:
# Inheritance

# Create a class Animal
class Animal:
	def __init__(self, name):
		self.name = name

# Create a class Mammal, which inherits from Animal
class Mammal(Animal):
	def __init__(self, name, animal_type):
		self.animal_type = animal_type

Mammal('Matt','Human').animal_type

'Human'

# Modules

In [10]:
# Saved the below script as mymodule.py

def greeting(name):
  print("Hello, " + name)

person1 = {
  "name": "John",
  "age": 36,
  "country": "Norway"}

In [20]:
import sys
from mymodule import person1

# This makes all the files in the modules folder to be able to be imported
sys.path.insert(0,'file_path') 

person1["age"]

36

In [65]:
import sys
from mymodule import greeting

# This makes all the files in the modules folder to be able to be imported
sys.path.insert(0,'file_path') 

greeting('Matt')

ImportError: cannot import name 'greeting' from 'mymodule' (/Users/mattbt/Desktop/Data Science Toolbelt V2/Modules/mymodule.py)

# File Handling

In [31]:
# Create a File

file = open("demofile.txt", "x")

FileExistsError: [Errno 17] File exists: 'demofile.txt'

In [33]:
# Append to an Existing File

file = open("demofile.txt", "a")

file.write("Now the file has one more line!")

31

In [36]:
# Override an Existing File

file = open("demofile.txt", "w")

file.write("Now the file has just this line!")

32

In [38]:
# Open an Existing File

file = open("demofile.txt", "r")

print(file.read())

Now the file has just this line!

In [39]:
# Delete a File
import os

os.remove("demofile.txt")