# [SQLAlchemy](https://www.datacamp.com/courses/introduction-to-relational-databases-in-python)

In [44]:
# Create Engine
from sqlalchemy import *
import psycopg2

# Database Information
dicty = dict(dialect='postgresql',driver='psycopg2',username='rvnpopiq',password='7tXUX6AjXtFTrNWX8oJwgqMlbEZHdPHQ',
             host='elmer.db.elephantsql.com',port='5432',database_name='rvnpopiq')
url = "{dialect}+{driver}://{username}:{password}@{host}:{port}/{database_name}".format(**dicty)

engine = create_engine(url)

In [45]:
# Create List of Tables
engine.table_names()

['django_migrations',
 'auth_group_permissions',
 'auth_group',
 'auth_user_groups',
 'auth_permission',
 'auth_user_user_permissions',
 'django_content_type',
 'django_admin_log',
 'auth_user',
 'django_session',
 'website_question',
 'website_choice',
 'website_hits',
 'website_movies']

In [46]:
# Create List of Table Columns 
metadata = MetaData()

website_movies = Table('website_movies', metadata, autoload=True, autoload_with=engine)

website_movies.columns.keys()

['id',
 'name',
 'rank',
 'genre',
 'poster',
 'awards',
 'year',
 'imdbRating',
 'imdbID',
 'summary',
 'actors',
 'director',
 'language',
 'rated',
 'created']

In [47]:
# Print Table Metadata

metadata = MetaData()

website_movies = Table('website_movies', metadata, autoload=True, autoload_with=engine)

print(repr(metadata.tables['website_movies']))

Table('website_movies', MetaData(bind=None), Column('id', INTEGER(), table=<website_movies>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x110999828>, for_update=False)), Column('name', VARCHAR(length=200), table=<website_movies>, nullable=False), Column('rank', INTEGER(), table=<website_movies>, nullable=False), Column('genre', VARCHAR(length=200), table=<website_movies>, nullable=False), Column('poster', VARCHAR(length=300), table=<website_movies>, nullable=False), Column('awards', VARCHAR(length=200), table=<website_movies>, nullable=False), Column('year', VARCHAR(length=200), table=<website_movies>, nullable=False), Column('imdbRating', VARCHAR(length=200), table=<website_movies>, nullable=False), Column('imdbID', VARCHAR(length=200), table=<website_movies>, nullable=False), Column('summary', VARCHAR(length=300), table=<website_movies>, nullable=False), Column('actors', VARCHAR(length=200), table=<website_movies>, nullable=False), Column('director', VARCHAR(length=200), table=<website_movies>, nullable=False), Column('language', VARCHAR(length=200), table=<website_movies>, nullable=False), Column('rated', VARCHAR(length=200), table=<website_movies>, nullable=False), Column('created', TIMESTAMP(timezone=True), table=<website_movies>, nullable=False), schema=None)

In [48]:
# Query Table via SQL Statment

stmt = 'SELECT * FROM WEBSITE_MOVIES'

connection = engine.connect()

result = connection.execute(stmt).fetchall() # List of tuples (each tuple is a row)

# First Row
result[0]

# First Row Column "name"
result[0]['name']

'The Shawshank Redemption'

In [52]:
# Query Table Via Python Statement/Sqlalchemy

metadata = MetaData()

website_movies = Table('website_movies', metadata, autoload=True, autoload_with=engine)

stmt = select([website_movies]).where(website_movies.columns.name == 'The Shawshank Redemption')

results_proxy = connection.execute(stmt)

results = results_proxy.fetchall()

results

[(2497, 'The Shawshank Redemption', 1, 'Crime, Drama', 'https://images-na.ssl-images-amazon.com/images/M/MV5BODU4MjU4NjIwNl5BMl5BanBnXkFtZTgwMDU2MjEyMDE@._V1_SX300.jpg', 'Nominated for 7 Oscars. Another 18 wins & 30 nominations.', '1994', '9.3', 'tt0111161', 'Two imprisoned men bond over a number of years, finding solace and eventual redemption through acts of common decency.', 'Tim Robbins, Morgan Freeman, Bob Gunton, William Sadler', 'Frank Darabont', 'English', 'R', datetime.datetime(2016, 11, 18, 0, 57, 29, 169109, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)))]

In [55]:
# Dealing with Large Datasets through fetchmany

more_results = True
state_count = {}

# Start a while loop checking for more results
while more_results:
    # Fetch the first 50 results from the ResultProxy: partial_results
    partial_results = result_proxy.fetchmany(2)

    # if empty list, set more_results to False
    if partial_results == []:
        more_results = False

    # Loop over the fetched records and increment the count for the state
    for row in partial_results:
        if row.state in state_count:
            state_count[row.state] += 1
        else:
            state_count[row.state] = 1

# Close the ResultProxy, and thus the connection
results_proxy.close()

# Print the count by state
print(state_count)

{}